<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gusto</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">


<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
        <li><a href="#features" class="page-scroll">Service</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">IVENT</a></li>
        <li><a href="#team" class="page-scroll">message</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features" class="page-scroll">Service</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">IVENT</a></li>
        <li><a href="#team" class="page-scroll">message</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <img src="/ロゴ＋文字1列.png">
            <p>we bring you a place to build lasting business relationships</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Service</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>ファン・コミュニティ創り</h3>
          <p> 私たちCOAは一攫千金ビジネスが好きではありません。
            じっくりコツコツお客さんと関係を気づいていく。そんなビジネスを応援したいのです。
            そこでご提案ですが、あなたのファン・コミュニティを創りませんか？
            好きな人と好きなことでビジネスをする。そのためにファン・コミュニティは必須です。
            あなたのファン・コミュニティを創るために私たちはサポートします。</p>
            <p><%= link_to("詳しくはこちら", "/blogs/index") %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>ファン・コミュニティ創り</h3>
          <p> 私たちCOAは一攫千金ビジネスが好きではありません。
            じっくりコツコツお客さんと関係を気づいていく。そんなビジネスを応援したいのです。
            そこでご提案ですが、あなたのファン・コミュニティを創りませんか？
            好きな人と好きなことでビジネスをする。そのためにファン・コミュニティは必須です。
            あなたのファン・コミュニティを創るために私たちはサポートします。
            <p><%= link_to("詳しくはこちら", "/blogs/index") %></p></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>COA profiling</h3>
          <p>自分を知ること。それがすべての始まりです。
            自分を知らなければ、何がしたいのか、どこに行きたいのか、誰といたいのか。何もわかりません。
            私たちCOAは深く自己理解するためのコア・プロファイリングを提供しています。
            早くスタートラインに立って頂きたい。そんな想いでご提供しています。
            <p><%= link_to("詳しくはこちら", "/blogs/index") %></p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our vision</h2>
          </div>
          <p>誰もが、自分の価値を認め、自分を解放し、仲間と共に自由に空を飛び回り豊かさを配る世界<br>
          私たちＣＯＡは、ビジネスを通じて自分の価値に気づく喜びをあなたにお届けします。
          私たちのサポートは,あなたの想いを聴くことから始まります。
          そして、あなたの個性が輝き、価値が最大化する場所を一緒に創ります。
          私たちの目標、それは豊かさを配る世界です。
          ビジネスを通じて人々が自分を認め、他人を認め、笑顔と喜びが世界に少しでも増えることを目指しています。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Ivent</h2>
    </div>
      <% @blogs.each do |blog| %>
      <div class="blogs-right">
        <img src="<%= "/blog_sheets/#{blog.sheet_name}" %>">
        <div class = "txt-box">
          <p><%= link_to(blog.content, "/blogs/#{blog.id}") %></p>
        </div>
      </div>
      <% end %>
  </div>
</div>

<!-- Team Section -->
<div id="team">
  <div class="container-fluid">
    <div id="row">
      <div class="col-md-6">
        <div class="team-img"><img src="/31025201_1675955159153481_133773711_o.jpg" alt="..."></div>
      </div>
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>message</h2>
          </div>
          <p>私は３０歳まで「できること＝価値」だと信じて、「できる自分」を必死に追いかけてきました。<br>大手企業に勤め、評価のために自分を押し殺す日々。<br>「できない自分は価値のない存在だ」と思い込んで、自分を認めず、他人を認めず。<br>当時は気づいていませんでしたが、今振り返ると苦しい生活を送っていました。<br>転機は生命保険のフルコミッション営業に挑戦したことでした。<br>それまで起業を目指して、勉強をしていた私は自信満々でした。<br>マーケティングを知っていたし、起業家マインドも持っている(つもり)。<br>当然すごい成果を上げて、「できる自分」を証明して、起業家へステップアップしていく未来描いていました。<br>しかし、ありがたいことに厳しい現実が待ち構えていました。<br>全く売れず、完全な落ちこぼれに。これは本当に苦しい経験でした。<br>売れない自分は存在価値のない人間だと思っていました。<br>悔しい、恥ずかしい、情けない。追い込まれていた私は、気が付くと深呼吸ができなくなっていました。<br>思いつくことは何でもやりましたが、なかなか状況は良くなりませんでした。<br>そんな中でポッドキャストから「自分を知ることをしないと、何も始まらないよ」というあるお医者さんの言葉が聞こえて、自分に足りないものはこれだと確信しました。<br>確かにスーパー営業マンは皆、飾ることなく素をさらけ出して楽しそうに仕事をしている人ばかり。<br>そこから自分を知るために、手あたり次第できることをやりました。<br>そして、「できること＝価値」ではなく、「存在＝価値」なのだと腹落ちして世界が変わりました。<br>私という「存在」を正しく表現することが価値を配ることだとわかり、結果的に起業する事を決意。<br>思い描いていたストーリーとは全く違いましたが、今心から幸せを感じています。<br>有史以来、あなたと全く同じ存在はいません。<br>違うということは、それだけで価値です。だから、あなたには間違いなく価値があるということを私は知っています。<br>できること、できないこと、なんて関係ありません。私はあなたの価値を確信しています。<br>まずは自分の価値に気づいて下さい。世界が変わります。<br>COAは「自分の価値を認め、自分を解放し、仲間と共に自由に空を飛び回りながら豊かさを配る世界」を創るために設立しました。<br>あなたにお会いできることを楽しみにしています。</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">

  <div class="container">
    <div class="section-title text-center">
      <h3>Send us a message</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
