<head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129331504-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129331504-1');
</script>

</head>

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <ul>
              <li><%= link_to("投稿一覧", "/blogs/index") %></li>
              <li><%= link_to("新規投稿", "/blogs/new") %></li>
              <li><%= link_to("権限付与", "/papers/signup") %></li>
              <li><%= link_to("権限一覧", "/papers/index") %></li>
              <li><%= link_to("ログアウト", "/papers/logout", {method: :post}) %></li>

      </ul>
    </div>
  </div>
</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to("投稿一覧", "/blogs/index") %></li>
        <li><%= link_to("新規投稿", "/blogs/new") %></li>
        <li><%= link_to("権限付与", "/papers/signup") %></li>
        <li><%= link_to("権限一覧", "/papers/index") %></li>
        <li><%= link_to("ログアウト", "/papers/logout", {method: :post}) %></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<div class="content-sentence">
<div class="container-fluid">
  <div class="text-center">
      <div class="form-heading">新規ユーザー登録</div>
      <div class="form users-form">
        <div class="form-body">
          <% @paper.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          <% end %>
          <%= form_tag("/papers/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @paper.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @paper.email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @paper.password %>">
          <input type="submit" value="Sign Up">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
